
<footer>
    <div class="redesSociales">
        <h3>SIGUENOS EN NUESTRAS REDES:</h3>
    <img src="/img/facebook.png" alt="">
    <img src="/img/instagram.png" alt="">
    <img src="/img/whatsapp.png" alt="">
    </div>
    <small>&copy;2023 <b>Todos los Derechos Reservados</b></small>
</footer>