<footer class="footer">
    <h3>Sigueme en Redes Sociales</h3>
    <div class="icon-footer">
      <div class="sigueme">
        <p>instagram</p>
        <a href="https://www.instagram.com/anthonyjeff07/" target="_blank">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </div>
      <div class="sigueme">
        <p>Facebook</p>
        <a href="https://www.facebook.com/anthony.chavezhuaman" target="_blank"><i class="fa-brands fa-facebook"></i></a>
      </div>
      <div class="sigueme">
        <p>twitter</p>
        <a href="https://twitter.com/anthonyjef05" target="_blank"><i class="fa-brands fa-twitter"></i></a>
      </div>
      <div class="sigueme">
        <p>github</p>
        <a href="https://github.com/Kalavera09" target="_blank"><i class="fa-brands fa-github"></i></a>
      </div>
    </div>
    <p>Lotito30 © 2023. Todos los derechos reservados</p>
  </footer>
<!-- <footer>
    <div class="redesSociales">
        <h3>SIGUENOS EN NUESTRAS REDES:</h3>
    <img src="/img/facebook.png" alt="">
    <img src="/img/instagram.png" alt="">
    <img src="/img/whatsapp.png" alt="">
    <div class="sigueme">
        <p>facebook</p>
        <a href="http://www.facebook.com/jesus.dominguez.5439" target="_blank"><i class="fa-brands fa-facebook"></i></a>
      </div>

    </div>
    <small>&copy;2023 <b>Todos los Derechos Reservados</b></small>
</footer> -->