<footer class="footer">
    <h3>Sigueme en Redes Sociales</h3>
    <div class="icon-footer">
      <div class="sigueme">
        <p>Instagram</p>
        <a href="https://www.instagram.com/anthonyjeff07/" target="_blank">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </div>
      <div class="sigueme">
        <p>Facebook</p>
        <a href="https://www.facebook.com/anthony.chavezhuaman" target="_blank"><i class="fa-brands fa-facebook"></i></a>
      </div>
      <div class="sigueme">
        <p>Twitter</p>
        <a href="https://twitter.com/anthonyjef05" target="_blank"><i class="fa-brands fa-twitter"></i></a>
      </div>
      <div class="sigueme">
        <p>Github</p>
        <a href="https://github.com/Kalavera09" target="_blank"><i class="fa-brands fa-github"></i></a>
      </div>
    </div>
    <small>&copy;2023 <b>Todos los Derechos Reservados</b></small>
  </footer>
