
<header class="header">
    <div class="logo"></div>
    <img src="./img/appnotas.png" alt="Notas">
    <h1 class="titulo">Usuario</h1>
</div>
<nav>
  <a href="/login" class="nav-link">Ingresar</a>
  <a href="" class="nav-link">Configuración</a>
  <li class="menuPrincipal">
  <a href="" class="nav-link">Menu</a>
    <ul>
    </li>
    
    <li>
      <h3><a href="/index" class="nav-link">Inicio</a></h3>
    </li>
    <li>
      <h3><a href="#">Calendario</a></h3>
    </li>
    <li>
      <h3><a href="#">Notas</a></h3>
    </li>
    <li>
      <h3><a href="#">Tareas</a></h3>
    </li>
    <li>
      <h3><a href="#"></a></h3>
    </li>
    <li>
      <h3><a href="#">Papelera</a></h3>
    </li>
  </ul>
</nav>
<title>Crear Nota</title>
  <style>
    /* textarea {
      width: 100%;
      height: 150px;
      
    } */
  </style>

</header>
