
<header class="header">
    <div class="logo"></div>
    <img src="./img/appnotas.png" alt="Notas">
    <h1 class="titulo">Todas las Notas</h1>
</div>
<nav>
  <a href="/login" class="nav-link">Ingresar</a>
  <a href="" class="nav-link">Configuración</a>
  <li class="menuPrincipal">
  <a href="" class="nav-link">Menu</a>
    <ul>
    </li>
    
    <li>
      <h3><a href="#">Inicio</a></h3>
    </li>
    <li>
      <h3><a href="#">Calendario</a></h3>
    </li>
    <li>
      <h3><a href="#">Notas</a></h3>
    </li>
    <li>
      <h3><a href="#">Tareas</a></h3>
    </li>
    <li>
      <h3><a href="#"></a></h3>
    </li>
    <li>
      <h3><a href="#">Papelera</a></h3>
    </li>
  </ul>
</nav>
</header>
<div class="container">
  <form consubmit="addNuevaTarea(event)">
    <div class="section2">
              <input type="text" nombre="TareaText" autocomplete="off" placeholder="Nueva Tarea">
              <button type="submit" class="addBotonTarea">+</button>
          </div>
  
       </form>