
<header class="header">
    <div class="logo"></div>
    <img src="./img/appnotas.png" alt="Notas">
    <h1 class="titulo">Usuario</h1>
</div>
<nav>
  <a href="/login" class="nav-link">Ingresar</a>
  <a href="" class="nav-link">Configuración</a>
  <li class="menuPrincipal">
  <a href="" class="nav-link">Menu</a>
    <ul>
    </li>
    
    <li>
      <h3><a href="#">Inicio</a></h3>
    </li>
    <li>
      <h3><a href="#">Calendario</a></h3>
    </li>
    <li>
      <h3><a href="#">Notas</a></h3>
    </li>
    <li>
      <h3><a href="#">Tareas</a></h3>
    </li>
    <li>
      <h3><a href="#"></a></h3>
    </li>
    <li>
      <h3><a href="#">Papelera</a></h3>
    </li>
  </ul>
</nav>
</header>
  <title>Crear Nota</title>
  <style>
    textarea {
      width: 100%;
      height: 150px;
    }
  </style>
  <div class="container">
    <h1>Crear Nota</h1>
    <textarea id="nota"></textarea>
    <button id="btnCrearNota">Crear</button>
  </div>

  <script>
    document.getElementById('btnCrearNota').addEventListener('click', function() {
      var nota = document.getElementById('nota').value;
      // Aquí puedes realizar alguna acción con la nota, como guardarla en una base de datos o mostrarla en la página.
      console.log('Se creó la nota:', nota);
    });
  </script>