<title>Crear Nota</title>
  <style>
    /* textarea {
      width: 100%;
      height: 150px;
      
    } */
  </style>
  <div class="container">
    <h1>Todas las Notas</h1>
    <form consubmit="addNewNote"></form>
    <input type="text" nombre="NoteText"autocomplete="off" placeholder="Nota">
    <nav class="options2">
    <a href="../note/createNote.ejs" class="nav-link">Crear </a>
    <a href="../note/deleteNote.ejs" class="nav-link">Borrar </a>
    <a href="../note/detailNote.ejs" class="nav-link">Detalle </a>
    <a href="../note/editNote.ejs" class="nav-link">Editar </a>
    </nav>
    
  </div>

