<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>App De Notas</title>
</head>
<body>
<header class="header">
    <div class="logo"></div>
    <img src="./img/appnotas.png" alt="Notas">
    <h1 class="titulo">Todas las Notas</h1>
</div>
<nav>
  <a href="/login" class="nav-link">Ingresar</a>
  <a href="" class="nav-link">Configuración</a>
  <li class="menuPrincipal">
  <a href="" class="nav-link">Menu</a>
    <ul>
    </li>
    
    <li>
      <h3><a href="#">Inicio</a></h3>
    </li>
    <li>
      <h3><a href="#">Calendario</a></h3>
    </li>
    <li>
      <h3><a href="#">Notas</a></h3>
    </li>
    <li>
      <h3><a href="#">Tareas</a></h3>
    </li>
    <li>
      <h3><a href="#"></a></h3>
    </li>
    <li>
      <h3><a href="#">Papelera</a></h3>
    </li>
  </ul>
</nav>
</header>
  <title>Crear Nota</title>
  <style>
    .container {
      width: 300px;
      margin: 0 auto;
    }

    textarea {
      width: 100%;
      height: 150px;
    }
  </style>
</head>
  <div class="container">
    <h1>Crear Nota</h1>
    <textarea id="nota"></textarea>
    <button id="btnCrearNota">Crear</button>
  </div>

  <script>
    document.getElementById('btnCrearNota').addEventListener('click', function() {
      var nota = document.getElementById('nota').value;
      // Aquí puedes realizar alguna acción con la nota, como guardarla en una base de datos o mostrarla en la página.
      console.log('Se creó la nota:', nota);
    });
  </script>
    <main>
        <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, reiciendis asperiores animi a quibusdam at ab recusandae aliquam. Accusamus ea dicta ab iure exercitationem. Aut corrupti praesentium pariatur est voluptatem.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, officiis commodi itaque unde corrupti dolorem sit odit, incidunt tempore, aut aperiam laudantium blanditiis laboriosam cupiditate? Voluptatum aliquid error porro? Eaque.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, exercitationem deleniti. Quod, nobis a error tempore nam quos explicabo voluptates cum asperiores illum minus officiis sint velit, doloremque odit rem.
        </p> -->
    </main>
</div>
    <footer>
        <div class="redesSociales">
            <h3>SIGUENOS EN NUESTRAS REDES:</h3>
        <img src="/img/facebook.png" alt="">
        <img src="/img/instagram.png" alt="">
        <img src="/img/whatsapp.png" alt="">
        </div>
        <small>&copy;2023 <b>Todos los Derechos Reservados</b></small>
    </footer>
</body>
</html>