<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>App De Notas</title>
</head>
<body>
    <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
    <header class="header">
        <div class="logo"></div>
        <img src="./img/appnotas.png" alt="Notas">
        <h2 class="titulo">Todas las Notas</h2>
        </div>
        <nav>
            <a href="" class="nav-link">Inicio</a>
            <a href="" class="nav-link">Sobre Nosotros</a>
            <a href="" class="nav-link">Contacto</a>
        </nav>
    </header>
    <div class="section2">
        <form onsubmit="addNuevaTarea(event)">
            <input type="text" nombre="TareaText" autocomplete="off" placeholder="Nueva Tarea">
            <button type="submit" class="addBotonTarea">+</button>
        </form>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, reiciendis asperiores animi a quibusdam at ab recusandae aliquam. Accusamus ea dicta ab iure exercitationem. Aut corrupti praesentium pariatur est voluptatem.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, officiis commodi itaque unde corrupti dolorem sit odit, incidunt tempore, aut aperiam laudantium blanditiis laboriosam cupiditate? Voluptatum aliquid error porro? Eaque.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, exercitationem deleniti. Quod, nobis a error tempore nam quos explicabo voluptates cum asperiores illum minus officiis sint velit, doloremque odit rem.
        </p>
    </div>
    <footer class="footer">
    <div class="box">
        <h2>SIGUENOS</h2>
        <a href="#" src="./img/facebook.png" class="button"></a>
        <a href="#" src="./img/instagram.png" class="button"></a>
        <a href="#" src="./img/whatsapp.png" class="button"></a>
    </div>
    <div class="grupo2">
        <small>&copy;2023 <b>Todos los Derechos Reservados</b></small>
    </div>
    </footer>
</body>
</html>