*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    align-items: center;
    box-sizing: border-box;
}
.container{
    background-color: yellow;
}
header{
    display: flex;
    background-color: yellowgreen;
    justify-content: space-around;
    flex-direction: row;
}
img {
    width: 7%;
    margin:5px;
    padding:2px;
}
.titulo{
    margin:10px;
    padding:5px;
    list-style: none;
    font-size: larger;
    display: flex;
}
nav{
    padding: 10px 0px;
    font-size: small;
    display: flex;
    font-size: medium;
}
nav a{
    color: black;
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover{
    color:  white;
}
input{
    margin: 10px;
    padding: 10px;
    list-style: none;
    text-decoration: none;
    align-items: center;
    box-sizing: border-box;
}
button{
    margin: 15px;
    padding: 15px;
    list-style: none;
    text-decoration: none;
    align-items: center;
    box-sizing: border-box;
}
p{
    word-wrap: normal;
}
div.box{
    align-self: center;
}
footer{
    margin: auto;
    padding: 0%;
    position: fixed;
    bottom: 0;
    height: 18%;
    background-color:rgba(0, 0, 0, 0.582);
    padding: 18px;
    text-align: center;
}
h3{
    margin: auto;
    padding: initial;
    font-size: small;
    display: flex;
}
div.redesSociales {
    display: flex;
    justify-content: center;
}
small{
    display: flex;
    justify-content: center;
}
@media(max-width:500px){
    header  {
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
    footer {
        height: 15%;
    }
}
