<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

<h1>Detalle del Producto</h1>
<form action="/products" method="post">
    <input type="text" name="id" placeholder="id">
    <input type="text" name="nombre" placeholder="nombre">
    <input type="text" name="descripcion" placeholder="descripcion">
    <input type="text" name="precio" placeholder="precio">
    <input type="text" name="enVenta" placeholder="enVenta">
    <button type="submit">Enviar</button>
</form>
</body>
</html>